
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Bike Stations" icon-off="ion-android-bicycle" icon-on="ion-android-bicycle" href="#/tab/tracker">
    <ion-nav-view name="tab-tracker"></ion-nav-view>
  </ion-tab>
  
  
  <ion-tab title="My Journeys" icon-off="ion-android-compass" icon-on="ion-android-compass" href="#/tab/fbtracker">
    <ion-nav-view name="tab-fbtracker"></ion-nav-view>
  </ion-tab>
  
  
  <ion-tab title="Signout" icon-off="ion-log-out" icon-on="ion-log-out" href="#/login">
    <ion-nav-view name="tab-signout"></ion-nav-view>
  </ion-tab>


</ion-tabs>
