<ion-view view-title="Dublin Bike Stations">
    </ion-nav-buttons>
    <ion-content>
      <map center="{{trackerItem.latitude}}, {{trackerItem.longitude}}" zoom="13" disable-default-u-i="true">
<marker ng-repeat="trackedItem in trackedItems" position="{{[trackedItem.position.lat,trackedItem.position.lng]}}">
      </marker>
</map>
     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="trackedItem in trackedItems" type="item-text-wrap">
        <h2>{{trackedItem.address}}</h2>
        <p>Available Bike Stands - {{trackedItem.available_bike_stands}}</p>
        <p>Available Bikes - {{trackedItem.available_bikes}}</p>
      </ion-item>
     </ion-list>
     </ion-content>
</ion-view>

<!--Decided to use this tab to display each bike station in a list with available bike stands and bike numbers, as well as display a map and load with bike station markers. This way, a user could use this in conjunction with the journey tab to plan and organise their trip-->