<ion-view view-title="Add New Journey">
	<!--Made button to give option of taking a photo for this entry by calling method on click and initialising camera-->
		<ion-nav-buttons side="right">
      <button class="button"  ng-click="addPicture()">
           <i class="icon ion-camera"></i>
      </button>
    </ion-nav-buttons>
		
  <ion-content class="padding">
           <form ng-submit="addTrackerItem(trackItemForm)" name="trackItemForm" novalidate="novalidate">

<input type="hidden" name="photo" xxng-model="trackerItem.imageData" /> <!--hidden field to hold image data-->

	            <label class="item item-input" ng-class="{'has-error': trackItemForm.title.$invalid}">
	              <span class="input-label">Title</span>
	              <input 
	           	  type="text" 
	              name="title" 
	              ng-model="trackerItem.title" 
	              ng-required="true" 
	              ng-minlength="5"
	              ng-maxlength="10"
	              >
	            </label>
	            <div class="form-errors" ng-messages="trackItemForm.title.$error" style="color: maroon" role="alert">
	   <div ng-messages-include="module/errors/form-errors.html"></div>
	      </div>
				
				<label class="item item-input" ng-class="{'has-error': trackItemForm.description.$invalid}">
	              <span class="input-label">Description</span>
	              <input type="text" 
	              name="description" 
	              ng-model="trackerItem.description" 
	              ng-required="true"
	               ng-minlength="6"
	              >
	            </label>
							<div class="form-errors" ng-messages="trackItemForm.description.$error" style="color: maroon" role="alert">
	     <div class="form-error" ng-message="minlength">Description should be at least 6 characters</div>
	   <div ng-messages-include="module/errors/form-errors.html"></div>
	      </div>
	            
	            <!--hidden fields to hold current position coords via geolocation GPS-->
	              <input type="hidden" 
	              name="latitude" 
	              ng-model="trackerItem.latitude"
	              >
	            
	              <input type="hidden" 
	              name="longitude" 
	              ng-model="trackerItem.longitude"
	              >
	            
							<label class="item item-input item-select">
								<div class="input-label">
										&nbsp;
								</div>
								<!--created dropdowns to iterate through each bike station, displaying address while returning an array holding lat and lng values as ints. Took me a long time to find a way to do this, as other ways kept giving me the combined values as a string (which I tried to split but failed), but eventually I did it!-->
							<select ng-model="trackerItem.start" ng-options="[station.position.lat,station.position.lng] as station.address for station in bikeStations">
								<!--<option value="" disabled selected>Start</option>
								<option ng-repeat="station in bikeStations" value="{{station.position.lat}}">{{station.address}}</option>-->
							</select>
							</label>

							<label class="item item-input item-select">
								<div class="input-label">
										&nbsp;
								</div>
							<select ng-model="trackerItem.finish" ng-options="[station.position.lat,station.position.lng] as station.address for station in bikeStations">
								<!--<option value="" disabled selected>Finish</option>
								<option ng-repeat="station in bikeStations" value="{{station.position.lat}},{{station.position.lng}}">{{station.address}}</option>-->
							</select>
							</label>


	          <div class="padding">
	            <button class="button button-block button-positive" type="submit" >
	              Add Item
	            </button>
	          </div>
	          
	      </form> 
	       
  </ion-content>
</ion-view>