<ion-view view-title="{{item.title}}">
  <ion-content class="padding">
    <!--pull down element with method to refresh page. I decided to implement this because whenever this page is loaded from the tab-tracker page, the map always has no markers except a random one out near Swords. On refresh of the page, markers for current position when journey record was made, as well as for the coords for the selected start and finish bike stations appear (and the random one near Swords is gone). I've followed the code and haven't found why this is, and even found an entry on a github page that mentions someone else in some other part of the world having the same problem-->
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="reloadRoute()">
  </ion-refresher>
    
    <div class="list card">

  <div class="item item-avatar">
    <img ng-src="data:image/jpeg;base64,{{item.imageData}}" alt="?" style="width: 64px; height: 64px"/>
    <h2>{{item.title}}</h2>
  </div>

  <div class="item item-body">
  
   <p>Date and time of {{item.title}}: {{item.dateTime}}</p>
   
   <map center="{{item.latitude}}, {{item.longitude}}" zoom="13" disable-default-u-i="true">

<marker position="{{[item.latitude,item.longitude]}}"></marker>
<!--usearray index to access inner values for lat and long coords-->
<marker position="{{[item.start[0],item.start[1]]}}"></marker>
<marker position="{{[item.finish[0],item.finish[1]]}}"></marker>

</map>
  
   
   
    <p>
       {{item.description}}
    </p>
  </div>

</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </ion-content>
</ion-view>
